.inputSearch {
  width: 500px;
  height: 50px;
}
.inputSearch input {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  width: 500px;
  height: 50px;
}
.inputSearch p {
  position: absolute;
  left: 616.72px;
  top: 82px;
}

.inputSearch input::placeholder {
  padding-left: 23px;
}
